@import url("/_global.css");
* {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
/*    text-transform: capitalize;*/
box-sizing: border-box;
}
.primary-color {
color: #0D0628;
}
.secondary-color {
color: #C14953;
}

.subtitle-font{
font-family: 'Scheherazade', serif;
font-size: 1.9rem;

}
.title-font{
font-family: 'Inconsolata', monospace;
font-size: 2rem;
}
.load-screen {
min-height: 100vh;
}
/*nav bar csss*/

.logo{
height: 50px;
width: 250px;
/*background-image: url(../images/find.png);*/
background-size: contain;
background-repeat: no-repeat;
background-attachment: center;
margin-top: -75px;
margin-left: -50px;
}


#navbarNav li {
margin-left: 50px;
}
#navbarNav li a {
font-size: 1rem;
color: #213A60;
font-weight: 800;
/*float:right;*/
}
#navbarNav li a:hover{
	/*background-attachment: fixed;*/
	/*padding: 0;*/
	/*color: blue;*/
}


/*nav end*/
#intro-image{
height: 300px;
width: 300px;
}
/*my tool section css*/
#mytools {
min-height: 300px;
}
.hc {
min-height: 200px;
min-width: 200px;
}
.tool-card {
height: 100px;
width: 100px;
background-color: transparent:;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 5px;
display: flex;
margin: 45px 0px;
-webkit-box-shadow: 0px 10px 13px -7px #000000, -9px -29px 42px -23px rgba(244, 220, 255, 0.2);
box-shadow: -1px 10px 19px -22px #000000, 2px -55px 56px -23px rgba(230, 220, 255, 0);
position: relative;
z-index: 10;
}
.tool-card:hover {
cursor: pointer;
/*    transform: translateY(-15px);*/
background-color: transparent;
box-shadow: none;
padding: 10px;
}
.pop_text {
    position: absolute;
    top: 45px;
    left: 0px;
    display: none;
    height: 100px;
    width: 130px;
    background-color: #fff;
    display: none;
    overflow: hidden;
    font-size: 1;
    z-index: 100;
}
.pop_text_down {
position: absolute;
top: 45px;
left: 00px;
display: none;
height: 105px;
width: 130px;
background-color: #fff;
display: none;
overflow: hidden;
font-size: 1;
z-index: 10;
}
.tool-card:hover ~ .pop_text {
display: block;
cursor: pointer;
box-shadow: -1px 10px 19px -22px #000000, 2px -55px 56px -23px rgba(230, 220, 255, 0);
transition: .2s ease-in;
}
.tool-card:hover ~ .pop_text_down {
display: block;
cursor: pointer;
box-shadow: -1px 10px 19px -22px #000000, 2px -55px 56px -23px rgba(230, 220, 255, 0);
}
.disc {
/*    text-transform: lowercase;*/
color: #000;
font-size: 1.2rem;
z-index: -10;
font-family: 'Inconsolata', monospace;
background: linear-gradient(rgb(52, 102, 174,0.1), rgb(83, 144, 241,-1.8));
border-radius: 20px;
opacity: 0.8;
text-align: left;
}
.disc:hover {
color: #000;
font-weight: 700;
box-shadow: 0px 4px 13px -13px #000000, -9px -29px 42px -23px rgba(244, 220, 255, 0);
}
/*tool section end */
/*    work section*/
.work-card {
height: 200px;
width: 250px;
margin: auto;
}
.work-card > div:nth-child(1) {
height: 100%;
width: 100%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 5px;
-webkit-box-shadow: 0px 20px 37px -15px rgba(94, 90, 94, 0.74);
-moz-box-shadow: 0px 20px 37px -15px rgba(94, 90, 94, 0.74);
box-shadow: 0px 20px 37px -15px rgba(94, 90, 94, 0.74);
transition: all 0.3s ease-in-out;
cursor: pointer;
position: absolute;
z-index: 10;
}
.work-card-overlay {
background: rgba(168, 187, 255, 0.7);
height: 100%;
width: 100%;
top: 0;
color: white;
cursor: pointer;
}
.work-card > div:nth-child(1):hover {
box-shadow: 0px 20px 37px -20px rgba(168, 187, 255, 0.7);
z-index: -100;
}
.work-card > div:nth-child(2):hover {
box-shadow: 0px 20px 37px -20px rgba(94, 90, 94, 0.74);
z-index: 100;
transform: scale(20px);
}
/*        another projects*/
.img-fluid {
border-radius: 20px;
height: 200px;
}
/*        hoverEffect*/
/*.projects{
background-color: red;
background-size: 45% top;
height: 100px;
}*/
.project_card {
display: flex;
overflow: hidden;
position: relative;
text-align: center;
}
.project_card img {
display: block;
position: relative;
transition: all .4s linear;
}
.project_card:hover img {
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
/*forms style*/

.form_head{
background-color: #141c3a;
min-height: 5vh;
min-width: 80vw;
color: white;
text-align: center!important;
/*background-size: 200px 300px;*/
background-repeat: no-repeat;
border-radius: 30px;
/*border:1px solid #000;*/
box-shadow: 1px 2px 1px #000;
position: absolute;
top: -20%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 1.2rem !important;

}
.forms {
min-height: 400px;
/*width: 100vw;*/
align-content: center;
padding: 20px;
border-radius: 15px;
box-shadow: 0px 0px 6px 0px rgba(60, 53, 248, 0.6);
text-align: center;
align-content: center;
justify-content: center;
color: #0D0628; 
/*background-image: linear-gradient( 109.6deg,  rgba(154,227,226,1) 11.2%, rgba(105,210,216,1) 91.1% );*/
background-image: url(../images/formbg.png);
background-repeat: no-repeat;
background-size: cover;
}
.form-control{
	background-color:transparent!important;
}


.form-control:focus {
    /*color: #C14953;*/
    color:#2C4251;
    background-color:rgb(193,193,193,0.5)!important;
    border-color:#fff!important;
    outline:#fff!important;
    box-shadow:none!important;
}


.forms:hover {
cursor: pointer;
border-radius: 10px;
}
label {
  font-family: 'Inconsolata', monospace !important; 
  font-size: 1.2rem;
  font-weight: 700;
}
.submit_btn {
/*    border: 2px solid rgba(60, 53, 248, 0.9);*/
background-color:#0C1B33;
border-radius: 15px;
height: 40px;
width: 100px;
border: none;
color: #fff;
font-size: 1.2rem;
}
.submit_btn:hover {
color: #fff;
box-shadow: -1px 0px 3px 1px #fff;
border: 1px solid rgba(255, 163, 250, 0.5);
}
/*footer*/
.footer {
color: #fff;
min-height: 100px;
background-color: #7510F7;
/*opacity: 0.7;*/
/*background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(35,35,35,1) 0%, rgba(17,57,57,1) 90% );*/
}

.footer a{
	text-decoration: none;
	color: #fff;
	padding: 30px;
	font-size: 2rem;

}
.footer a i:hover{
border-radius: 5px;
/*border:1px solid white;*/
background-color: #000;
}

/*media screen*/
@media screen and (min-width: 990x) {
.logo{
/*height: 20px;
width: 250px;*/
margin-top: -120px;
/*margin-left: 200px;*/
}
#navbarNav li  {
border-radius:none;
margin-left:380px !important;
}
.project-row{
width: 75%;
margin:auto;
}
.form_head{
	min-width: 50vw;
	min-height: 10vh;
}
}
/*extra style*/
.space1{
/*background-image: radial-gradient( circle farthest-corner at 50.5% 55%,  rgba(12,23,158,1) 0%, rgba(0,18,71,1) 67.9% );*/
background-color: #7510F7;
background-repeat: no-repeat;
min-height: 40vh;
width: 100%;
color: #ffffff;
border-radius: 20px;
z-index: 0;
}