@import url("/_global.css");
* {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
/*    text-transform: capitalize;*/
box-sizing: border-box;
}
.primary-color {
color: 0D0628;
}
.secondary-color {
color: #C14953;
}
.title-font{
font-family: 'Scheherazade', serif;
font-size: 2rem;
}
.subtitle-font{
font-family: 'Inconsolata', monospace;
font-size: 1.2rem;
}
.load-screen {
min-height: 100vh;
}
/*nav bar csss*/
.logo{
height: 50px;
width: 250px;
/*background-image: url(../images/find.png);*/
background-size: contain;
background-repeat: no-repeat;
background-attachment: center;
margin-top: -75px;
margin-left: -50px;
}
#navbarNav li {
margin-left: 50px;
font-weight: bold;
color: white;
}
#navbarNav li a {
font-size: 1rem;
color: #213A60;
font-weight: 800;
float:right;
}
#navbarNav a:hover {
color: #000;
font-size: 1.1rem;
border-bottom: 2px solid olive;
border-radius: 200px;
display: inline-block;
}
/*nav end*/
#intro-image{
height: 400px;
width: 400px;
}
/*my tool section css*/
#mytools {
min-height: 300px;
}
.hc {
min-height: 200px;
min-width: 200px;
}
.tool-card {
height: 100px;
width: 100px;
background-color: transparent:;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 5px;
display: flex;
margin: 5px 0px;
-webkit-box-shadow: 0px 10px 13px -7px #000000, -9px -29px 42px -23px rgba(244, 220, 255, 0.2);
box-shadow: -1px 10px 19px -22px #000000, 2px -55px 56px -23px rgba(230, 220, 255, 0);
position: relative;
z-index: 10;
}
.tool-card:hover {
cursor: pointer;
/*    transform: translateY(-15px);*/
background-color: transparent;
box-shadow: none;
padding: 10px;
}
.pop_text {
position: absolute;
top: -40px;
left: 0px;
display: none;
height: 150px;
width: 150px;
background-color: #fff;
display: none;
overflow: hidden;
font-size: 0.9;
z-index: 100;
}
.pop_text_down {
position: absolute;
top: 0px;
left: 00px;
display: none;
height: 150px;
width: 130px;
background-color: #fff;
display: none;
overflow: hidden;
font-size: 0.9;
z-index: 10;
}
.tool-card:hover ~ .pop_text {
display: block;
cursor: pointer;
box-shadow: -1px 10px 19px -22px #000000, 2px -55px 56px -23px rgba(230, 220, 255, 0);
transition: .2s ease-in;
}
.tool-card:hover ~ .pop_text_down {
display: block;
cursor: pointer;
box-shadow: -1px 10px 19px -22px #000000, 2px -55px 56px -23px rgba(230, 220, 255, 0);
}
.disc {
/*    text-transform: lowercase;*/
color: #000;
font-size: 1.2rem;
z-index: -10;
font-family: 'Inconsolata', monospace;
}
.disc:hover {
color: #000;
font-weight: 700;
box-shadow: 0px 4px 13px -13px #000000, -9px -29px 42px -23px rgba(244, 220, 255, 0);
}
/*tool section end */
/*    work section*/
.work-card {
height: 200px;
width: 250px;
margin: auto;
}
.work-card > div:nth-child(1) {
height: 100%;
width: 100%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 5px;
-webkit-box-shadow: 0px 20px 37px -15px rgba(94, 90, 94, 0.74);
-moz-box-shadow: 0px 20px 37px -15px rgba(94, 90, 94, 0.74);
box-shadow: 0px 20px 37px -15px rgba(94, 90, 94, 0.74);
transition: all 0.3s ease-in-out;
cursor: pointer;
position: absolute;
z-index: 10;
}
.work-card-overlay {
background: rgba(168, 187, 255, 0.7);
height: 100%;
width: 100%;
top: 0;
color: white;
cursor: pointer;
}
.work-card > div:nth-child(1):hover {
box-shadow: 0px 20px 37px -20px rgba(168, 187, 255, 0.7);
z-index: -100;
}
.work-card > div:nth-child(2):hover {
box-shadow: 0px 20px 37px -20px rgba(94, 90, 94, 0.74);
z-index: 100;
transform: scale(20px);
}
/*        another projects*/
.img-fluid {
border-radius: 20px;
height: 200px;
}
/*        hoverEffect*/
.project_card {
display: flex;
overflow: hidden;
position: relative;
text-align: center;
}
.project_card img {
display: block;
position: relative;
transition: all .4s linear;
}
.project_card:hover img {
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
/*forms style*/
.forms {
min-height: 400px;
align-content: center;
padding: 20px;
border-radius: 15px;
box-shadow: 0px 0px 6px 0px rgba(60, 53, 248, 0.6);
font-family: 'Inconsolata', monospace;
}
.forms:hover {
cursor: pointer;
/*    transform: translateY(10px);*/
/*    background-image:rgba(212, 100%, 50%, 1);*/
box-shadow: 0px 0px 6px 0px rgba(255, 163, 250, 1);
border-radius: 10px;
}
.submit_btn {
/*    border: 2px solid rgba(60, 53, 248, 0.9);*/
background-color: blue;
border-radius: 15px;
height: 50px;
width: 100px;
border: none;
color: #fff;
}
.submit_btn:hover {
/*    background-color: rgba(130, 216, 118, 0.9);*/
color: #fff;
/*    font-size: 1.2rem;*/
box-shadow: -1px 0px 1px 1px rgba(255, 163, 250, 0.5);
border: 1px solid #fff;
}
/*footer*/
.footer {
color: black;
background-color: #020004;
min-height: 50px;
align-content: center;
text-align: center;
}
.footer a {
color:;
align-content: center;
justify-content: center;
text-decoration: none;
}
.footer .col-2 a{
color: #297045;
}
/*media screen*/
@media screen and (min-width: 992px) {
.logo{
/*height: 20px;
width: 250px;*/
margin-top: -75px;
margin-left: -50px;
}
#navbarNav li a {
border-radius:none;
}
.project-row{
width: 75%;
margin:auto;
}
}